@import "library";
@import "reset";

// Global templates

%group:after {
    display: table;
    clear: both;
    content: "";
}

%container {
    margin: 0 auto;
    max-width: 500px;
}

// Global tags

body {
    font-family: Omnes, Helvetica;
    font-size: 22px;
}

a {
    color: #800000;
}

// Everything else
