@import "library";
@import "reset";

@import "compass/css3";

// Global templates

%group:after {
    display: table;
    clear: both;
    content: "";
}

%container {
    margin: 0 auto;
    max-width: 500px;
}

// Global tags

body {
    font-family: Omnes, Helvetica;
    font-size: 24px;
}

a {
    color: #800000;
}

// Everything else

.base {
    @extend %container;
    margin-top: 100px;
    width: 250px;
    height: 300px;
    @include perspective(1000);
}

.card {
    position: relative;
    @include transition(all 300ms ease);
    @include transform-style(preserve-3d);
    @include transform-origin(50% 50%);
    height: 100%;

    &:hover {
        @include rotateY(180deg);
    }
}

%card-side {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    background:lightblue;
    text-align: center;
    line-height: 28px;
    @include backface-visibility(hidden);
}

.question {
    @extend %card-side;
}

.answer {
    @extend %card-side;
    @include rotateY(180deg);
    font-weight: bold;
    font-size: 40px;
}
